@using E_Ticaret.Models
@model List<Products>
@{
    ViewBag.Title = "CategoriesView";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<div class="content ecommerce-application">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-start mb-0">Shop</h2>
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="index.html">Home</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">eCommerce</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    Shop
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-header-right text-md-end col-md-3 col-12 d-md-block d-none">
                <div class="mb-1 breadcrumb-right">
                    
                </div>
            </div>
        </div>
        <div class="content-detached @*content-right*@">
            <div class="content-body">
                <!-- E-commerce Content Section Starts -->
                <section id="ecommerce-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ecommerce-header-items">
                                <div class="result-toggler">
                                    <button class="navbar-toggler shop-sidebar-toggler" type="button" data-bs-toggle="collapse">
                                        <span class="navbar-toggler-icon d-block d-lg-none"><i data-feather="menu"></i></span>
                                    </button>
                                    <div class="search-results">@Model.Count sonuç bulundu</div>
                                </div>
                                <div class="view-options d-flex">
                                    
                                    <div class="btn-group" role="group">
                                        <input type="radio" class="btn-check" name="radio_options" id="radio_option1" autocomplete="off" checked />
                                        <label class="btn btn-icon btn-outline-primary view-btn grid-view-btn" for="radio_option1"><i data-feather="grid" class="font-medium-3"></i></label>
                                        <input type="radio" class="btn-check" name="radio_options" id="radio_option2" autocomplete="off" />
                                        <label class="btn btn-icon btn-outline-primary view-btn list-view-btn" for="radio_option2"><i data-feather="list" class="font-medium-3"></i></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- E-commerce Content Section Starts -->
                <!-- background Overlay when sidebar is shown  starts-->
                <div class="body-content-overlay"></div>
                <!-- background Overlay when sidebar is shown  ends-->
                <!-- E-commerce Search Bar Starts -->
                <section id="ecommerce-searchbar" class="ecommerce-searchbar">
                    <div class="row mt-1">
                        <div class="col-sm-12">
                            <div class="input-group input-group-merge">
                                <input type="text" class="form-control search-product" id="shop-search" placeholder="Ürün Ara" aria-label="Ara..." aria-describedby="shop-search" />
                                <span class="input-group-text"><i data-feather="search" class="text-muted"></i></span>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- E-commerce Search Bar Ends -->
                <!-- E-commerce Products Starts -->
                <section id="ecommerce-products" class="grid-view">
                    @Html.Partial("GridView", Model)
                </section>
                <!-- E-commerce Products Ends -->
                <!-- E-commerce Pagination Starts -->
                @*<section id="ecommerce-pagination">
                        <div class="row">
                            <div class="col-sm-12">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center mt-2">
                                        <li class="page-item prev-item"><a class="page-link" href="#"></a></li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item" aria-current="page"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                                        <li class="page-item"><a class="page-link" href="#">7</a></li>
                                        <li class="page-item next-item"><a class="page-link" href="#"></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </section>*@
                <!-- E-commerce Pagination Ends -->

            </div>
        </div>
        <!--<div class="sidebar-detached sidebar-left">
            <div class="sidebar">-->
                <!-- Ecommerce Sidebar Starts -->
                <!--<div class="sidebar-shop">
                    <div class="row">
                        <div class="col-sm-12">
                            <h6 class="filter-heading d-none d-lg-block">Filtrele</h6>
                        </div>
                    </div>
                    <div class="card">
                        
                    </div>
                </div>-->
                <!-- Ecommerce Sidebar Ends -->

            <!--</div>
        </div>-->
    </div>
</div>

@section Adjs
{
    <script>
        function GetProduct(ID) {
            getValue("Home/GetProduct",
                { CategoryID: ID },
                function (data, err) {
                    console.log(data);
                    if (!data) {
                        return;
                    } else {
                        $('#ecommerce-products').html(data);
                    }
                })

        };



        $("#shop-search").change(function () {
            var text = $('#shop-search').val();
            var CatID = $('#CatID').val();
            getValue("Home/SearchProduct",
                { SearchText: text, CatID: CatID },
                function (data, err) {
                    console.log(data);
                    if (!data) {
                        return;
                    } else {
                        $('#ecommerce-products').html(data);
                    }
                })
        });
    </script>
}
